/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

h3 {
    text-decoration: underline;
}

#first_bloc {
    display: flex;
    /* justify-content: space-around; */
    margin: 20px 0;
    border: 1px solid black;
}

#first_bloc section div {
    margin-right: 50px;
}


label {
    margin-right: 10px;
}

#table {
    width: 100%;
    border-collapse: collapse;
}

#table th, #table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#graphs {
    display: flex;
    justify-content: space-around;
}

.graph {
    width: 45%;
    height: 400px;
}

